<a href="https://colab.research.google.com/github/devkhetan/ML-Internship/blob/master/ML_Internship_Project(B).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
#importing neccessary libraries
import pandas as pd
import numpy as np
import matplotlib as plt
import sklearn
from scipy import stats

In [59]:
#reading Data in python
sample_data = pd.read_csv("data.csv")

In [60]:
#To display top 5 rows
sample_data.head(5)

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [61]:
#To display bottom 5 rows
sample_data.tail(5)

          Make   Model  Year  ... city mpg  Popularity   MSRP
11909    Acura     ZDX  2012  ...       16         204  46120
11910    Acura     ZDX  2012  ...       16         204  56670
11911    Acura     ZDX  2012  ...       16         204  50620
11912    Acura     ZDX  2013  ...       16         204  50920
11913  Lincoln  Zephyr  2006  ...       17          61  28995

[5 rows x 16 columns]

In [62]:
#Checking the Data Types 
sample_data.dtypes

Make                  object
Model                 object
Year                   int64
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

In [63]:
#Checking the shape of the Data
sample_data.shape

(11914, 16)

In [72]:
#Checking the null values in the Data
sample_data.isnull()

        Make  Model   Year     HP  ...  MPG-H  MPG-C  Popularity    MRP
0      False  False  False  False  ...  False  False       False  False
1      False  False  False  False  ...  False  False       False  False
2      False  False  False  False  ...  False  False       False  False
3      False  False  False  False  ...  False  False       False  False
4      False  False  False  False  ...  False  False       False  False
...      ...    ...    ...    ...  ...    ...    ...         ...    ...
11909  False  False  False  False  ...  False  False       False  False
11910  False  False  False  False  ...  False  False       False  False
11911  False  False  False  False  ...  False  False       False  False
11912  False  False  False  False  ...  False  False       False  False
11913  False  False  False  False  ...  False  False       False  False

[11914 rows x 13 columns]

In [65]:
sample_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [66]:
sample_data.describe()

               Year    Engine HP  ...    Popularity          MSRP
count  11914.000000  11845.00000  ...  11914.000000  1.191400e+04
mean    2010.384338    249.38607  ...   1554.911197  4.059474e+04
std        7.579740    109.19187  ...   1441.855347  6.010910e+04
min     1990.000000     55.00000  ...      2.000000  2.000000e+03
25%     2007.000000    170.00000  ...    549.000000  2.100000e+04
50%     2015.000000    227.00000  ...   1385.000000  2.999500e+04
75%     2016.000000    300.00000  ...   2009.000000  4.223125e+04
max     2017.000000   1001.00000  ...   5657.000000  2.065902e+06

[8 rows x 8 columns]

In [67]:
#Dropping the uneccessary Columns
sample_data = sample_data.drop(['Market Category' , 'Number of Doors' , 'Engine Fuel Type'] , axis = 1)

In [68]:
sample_data.head()

  Make       Model  Year  Engine HP  ...  highway MPG city mpg Popularity   MSRP
0  BMW  1 Series M  2011      335.0  ...           26       19       3916  46135
1  BMW    1 Series  2011      300.0  ...           28       19       3916  40650
2  BMW    1 Series  2011      300.0  ...           28       20       3916  36350
3  BMW    1 Series  2011      230.0  ...           28       18       3916  29450
4  BMW    1 Series  2011      230.0  ...           28       18       3916  34500

[5 rows x 13 columns]

In [69]:
#Renaming the Columns
sample_data.rename(columns={'Engine HP':'HP','Engine Cylinders':'Cylinders','Transmission Type':'Transmission','Driven_Wheels':'Drive Mode','highway MPG':'MPG-H','city mpg':'MPG-C','MSRP':'MRP'},inplace = True)

In [70]:
sample_data.head()

  Make       Model  Year     HP  ...  MPG-H MPG-C Popularity    MRP
0  BMW  1 Series M  2011  335.0  ...     26    19       3916  46135
1  BMW    1 Series  2011  300.0  ...     28    19       3916  40650
2  BMW    1 Series  2011  300.0  ...     28    20       3916  36350
3  BMW    1 Series  2011  230.0  ...     28    18       3916  29450
4  BMW    1 Series  2011  230.0  ...     28    18       3916  34500

[5 rows x 13 columns]