<a href="https://colab.research.google.com/github/devkhetan/ML-Internship/blob/master/ML_internship_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib as plt
import sklearn

In [66]:
#reading the csv file
car_data = pd.read_csv('data.csv')

In [67]:
car_data.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [68]:
#reading data in Python
car_data.dtypes

Make                  object
Model                 object
Year                   int64
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

In [69]:
car_data.shape

(11914, 16)

In [70]:
car_data.describe

<bound method NDFrame.describe of           Make       Model  Year  ... city mpg  Popularity   MSRP
0          BMW  1 Series M  2011  ...       19        3916  46135
1          BMW    1 Series  2011  ...       19        3916  40650
2          BMW    1 Series  2011  ...       20        3916  36350
3          BMW    1 Series  2011  ...       18        3916  29450
4          BMW    1 Series  2011  ...       18        3916  34500
...        ...         ...   ...  ...      ...         ...    ...
11909    Acura         ZDX  2012  ...       16         204  46120
11910    Acura         ZDX  2012  ...       16         204  56670
11911    Acura         ZDX  2012  ...       16         204  50620
11912    Acura         ZDX  2013  ...       16         204  50920
11913  Lincoln      Zephyr  2006  ...       17          61  28995

[11914 rows x 16 columns]>

In [71]:
car_data.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [72]:
car_data.info

<bound method DataFrame.info of           Make       Model  Year  ... city mpg  Popularity   MSRP
0          BMW  1 Series M  2011  ...       19        3916  46135
1          BMW    1 Series  2011  ...       19        3916  40650
2          BMW    1 Series  2011  ...       20        3916  36350
3          BMW    1 Series  2011  ...       18        3916  29450
4          BMW    1 Series  2011  ...       18        3916  34500
...        ...         ...   ...  ...      ...         ...    ...
11909    Acura         ZDX  2012  ...       16         204  46120
11910    Acura         ZDX  2012  ...       16         204  56670
11911    Acura         ZDX  2012  ...       16         204  50620
11912    Acura         ZDX  2013  ...       16         204  50920
11913  Lincoln      Zephyr  2006  ...       17          61  28995

[11914 rows x 16 columns]>

In [73]:
car_data.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [74]:
car_data.rename(columns={'Engine HP':'HP','Engine Cylinders':'Cylinders','Transmission Type':'Transmission','Driven_Wheels':'Drive Mode','highway MPG':'MPG-H','city mpg':'MPG-C','MSRP':'MRP'},inplace = True)

In [75]:
car_data.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'HP', 'Cylinders',
       'Transmission', 'Drive Mode', 'Number of Doors', 'Market Category',
       'Vehicle Size', 'Vehicle Style', 'MPG-H', 'MPG-C', 'Popularity', 'MRP'],
      dtype='object')

In [76]:
df = pd.DataFrame(car_data)

In [77]:
df.drop(['Market Category'],axis = 1)

          Make       Model  Year  ... MPG-C  Popularity    MRP
0          BMW  1 Series M  2011  ...    19        3916  46135
1          BMW    1 Series  2011  ...    19        3916  40650
2          BMW    1 Series  2011  ...    20        3916  36350
3          BMW    1 Series  2011  ...    18        3916  29450
4          BMW    1 Series  2011  ...    18        3916  34500
...        ...         ...   ...  ...   ...         ...    ...
11909    Acura         ZDX  2012  ...    16         204  46120
11910    Acura         ZDX  2012  ...    16         204  56670
11911    Acura         ZDX  2012  ...    16         204  50620
11912    Acura         ZDX  2013  ...    16         204  50920
11913  Lincoln      Zephyr  2006  ...    17          61  28995

[11914 rows x 15 columns]

In [78]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'HP', 'Cylinders',
       'Transmission', 'Drive Mode', 'Number of Doors', 'Market Category',
       'Vehicle Size', 'Vehicle Style', 'MPG-H', 'MPG-C', 'Popularity', 'MRP'],
      dtype='object')